@import 'mixin';
@import 'reset';
@import 'variable';

.people {
    background-image: url(../img/people-bg.png);
    background-color: #4a3b4e;
    min-height: 900px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 116px 118px;
        padding: 0 10px;
    }
    &__title {
        color: $color-white;
        @include monserrat-700;
        font-size: 48px;
        line-height: 50px;
        text-align: center;
        padding: 108px 0 82px 0;
    }
    &__items-wrap {
        @include flex-center;
        flex-direction: column;
        gap: 33px;
        justify-content: center;
        text-align: center;
    }
    &__items-wrap img {
    }
    &__items-wrap p {
        color: $color-white;
        @include lato-700;
        font-size: 16px;
        font-style: italic;
        line-height: 24px;
    }
    &__desc {
        color: #A291A5;
        @include lato-400;
        text-align: center;
        font-size: 14px;
        line-height: 21px;
        padding-top: 114px;
        position: relative;
    }
    &__desc::after {
        content: '';
        width: 780px;
        height: 2px;
        background-color: #645766;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -19px;
        margin: 0 auto;
    }

    // MEDIA < 993
    @media (width < $width-tablet) {
        &__container {
            // grid-template-columns: repeat(2, 1fr);
            grid-template-columns:47% 47%;
            column-gap: 6%;
            row-gap: 60px;
            padding: 0 10px;

        }
        &__container div:nth-child(4) {
            padding-top: 38px;
        }
        &__title {
            font-size: 42px;
            line-height: 44px;
            padding: 86px 10px;
        }
        &__desc {
            padding: 66px 10px 0 10px;
        }
        &__desc::after {
            content: '';
            width: 380px;
        }
    }

    // MEDIA < 481
    @media (width < $width-mobile) {
        &__container {
            grid-template-columns: repeat(1, 1fr);
            gap: 41px;
            padding: 0 19px;
        }
        &__title {
            font-size: 36px;
            line-height: 48px;
            padding: 57px 0 52px 0;
        }
        &__desc {
            padding: 35px 10px;
        }
        &__desc::after {
            content: '';
            width: 245px;
        }
    }
}
