// color
$color-violet: #8D81AC;
$color-white: #ffffff;
$color-grey: #848E97;
$revolution-header-color: #635C73;
$revolution-descr-color: #323232;
$pricing-color: #FFFFFF;
$background-get-color: #F4F4F4;
$line-color: #8D81AC;

// screen size
$width-tablet: 993px;
$width-mobile: 481px;
